@model IEnumerable<Computer>;

<div>
    <a asp-action="Create" class="btn btn-success">Criar</a>
@if(Model.Count() > 0) 
{
        <ul>
            @foreach(var computador in Model)
            {
                <li>Id = @computador.ID, Ram = @computador.Ram, @computador.Processor, <a asp-action="Show" asp-route-id="@computador.ID">Ver mais</a></li>
            }
        </ul>
}
else 
{
    <h1>Não há computadores</h1>
}
</div>
